body {
    overflow: hidden;
    margin: 0;
}
* {
    user-select: none;
}
*:focus {
    outline: none;
}

.optionsHeader {
    line-height: 0.8em;
}

.App {
    position: relative;
}

.App .cardWrapper {
    box-shadow: none!important;
}

.Options {
    clear: both;
}

.imageLeftPanel,
.imageRightPanel {
    width: 30%;
    position: relative;
}

.imageLeftPanel,
.middlePanel {
    float: left;
}
.imageRightPanel {
    float: right;
}

.middlePanel {
    position: relative;
    width: 40%;
    height: 250px;
    margin-right: 0!important;
}
.middlePanel .triangle-header {
    position: absolute;
    width: 100%; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    color: rgba(177, 177, 177, 0.9);
    cursor: default;
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    letter-spacing: -1px;
}

.dropZone {
    position: relative;
    width: 250px;
}
.dropZone .previewMsg,
.dropZone .dropIn {
    font-size: 1.0em;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    cursor: default;
    z-index: 9;
}
.dropZone .previewImg {
    position: absolute;
    top: 50%; left: 50%;
}
.dropZone .dropIn {
    margin-top: 20%;
    animation-duration: 0.4s;
    animation-name: animateArrow;
    animation-iteration-count: 8;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
    animation-direction: alternate;
}
.dropZone .dropIn i {
    font-size: 2.8em;
    color: rgb(25, 118, 210);
}
.dropZone #webcam-icon {
    transition: opacity 0.8s ease-in;
}
.dropZone #webcam-icon.active {
    opacity: 1;
}
.dropZone #webcam-icon.inactive {
    opacity: 0;
}
.dropZone #webcam-icon .pulse.blue {
    animation: pulse-blue 2s infinite;
}
.dropZone #webcam-icon .pulse,
.webcam .camera .pulse {
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(25, 118, 210, 0.4);
}
.dropZone #webcam-icon .pulse.white,
.webcam .camera .pulse.white {
    animation: pulse-white 2s infinite;
}
.webcam.enabled {
    transition: all 0.8s cubic-bezier(0.42,0,0.58,1);
}
.webcam .output {
    position: absolute;
    top:0; left:0;
    z-index: 9;
}
.webcam .camera video {
    position: absolute;
    top: 0; left: 0;
}
.webcam .camera .blitz.fa-camera {
    background-color: #fff;
    border-radius: 50%;
    padding: 20px;
}
.resultZone {
    width: 250px;
    height: 250px;
    float: right;
}
.resultZone .resultImg {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

#loader {
    position: absolute;
    left: 0;
    width: 100%; height:100%;
    background-color: #fff;
    z-index: 999;
    transition: all 0.4s cubic-bezier(0.42,0,0.58,1);
}
#loader .container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#loader.hidden {
    top: -100%;
}
#loader.visible {
    top: 0;
}

#resultImg {
    position: absolute;
    left: 0;
    width: 100%; height:100%;
    background-color: #212121;
    z-index: 999;
    transition: all 0.1s cubic-bezier(0.42,0,0.58,1);
}
#resultImg.hidden {
    top: -102%;
}
#resultImg.visible {
    top: 0;
}
#resultImg img {
    position: absolute;
    top: 50%; left: 50%;
}

.about-modal .close,
.settings-modal .close {
    position: absolute;
    top: 0; right: 0;
}
.about-modal img {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
.about-modal .content p {
    text-align: center;
    font-weight: 300;
}
.about-modal .content .links {
    display: table;
    margin: auto;
}
.about-modal .content p.copyright {
    font-size: 0.8em;
}
.about-modal .content .fa-twitter:before {
    color: #00a3ed;
}

@keyframes animateArrow {
    from {
        margin-top: 20%;
    }
    to {
        margin-top: 26%;
    }
}

@keyframes pulse-blue {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(25, 118, 210, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(25, 118, 210, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(25, 118, 210, 0);
    }
}

@keyframes pulse-white {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);;
    }
}