body {
    overflow: hidden;
    margin: 0;
}

.optionsHeader {
    line-height: 0.8em;
}

.App {
    position: relative;
}

.App .cardWrapper {
    box-shadow: none!important;
}

#loader {
    position: absolute;
    left: 0;
    width: 100%; height:100%;
    background-color: #fff;
    z-index: 999;
    transition: all 0.4s cubic-bezier(0.42,0,0.58,1);
}

#loader .container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#loader.hidden {
    top: -110%;
}

#loader.visible {
    top: 0;
}

.Options {
    clear: both;
}

.imageLeftPanel,
.imageRightPanel {
    width: 25%;
    position: relative;
}

.imageLeftPanel,
.middlePanel {
    float: left;
}
.imageRightPanel {
    float: right;
}

.middlePanel {
    position: relative;
    width: 50%;
    height: 200px;
    margin-right: 0!important;
}

.middlePanel .triangle-header {
    position: absolute;
    width: 100%; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    color: rgba(177, 177, 177, 0.9);
    cursor: default;
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    letter-spacing: -1px;
}

.dropZone {
    position: relative;
}

.dropZone .previewMsg,
.dropZone .dropIn {
    font-size: 1.0em;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    cursor: default;
}

.dropZone .previewImg {
    position: absolute;
    top: 50%;
}
.dropZone .dropIn {
    margin-top: 20%;
    animation-duration: 0.4s;
    animation-name: animateArrow;
    animation-iteration-count: 8;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
    animation-direction: alternate;
}

.dropZone .dropIn i {
    font-size: 2.8em;
    color: rgb(25, 118, 210);
}

.resultZone {
    width: 200px;
    height: 200px;
    float: right;
}

.resultZone .resultImg {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes animateArrow {
    from {
        margin-top: 20%;
    }
    to {
        margin-top: 26%;
    }
}